
.boxedtable {

    background-color: inherit;
    border-collapse:collapse;
}

.boxedtable td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.version {
visibility:hidden;
}

.strike {
    text-decoration: line-through;
}

.accessibility-link {
   float: right;
}

.stale-warning {
    color: red;
    background-color: #fbc9c7;
    border: 1px solid red;
    padding: 10px;
}

.warning {
    color: red;
    background-color: #fbc9c7;
    border: 1px solid red;
    padding: 10px;
}

.tocset td a.tocviewselflink {
   color: black;
   text-decoration: underline;
}

.ExerciseBody {
  padding: 0px 0px 0.5em 10px;
  border-left-style: solid;
  border-width: 5px;
  border-color: orange;
  background-color: #ffebcd;
}

.Exercise {
   font-weight: bold;
   background-color: #ffb167;
   padding: 5px 0px 5px 10px;
   margin-left: -10px;
}

.tocset {
    background-color: hsl(293, 33%, 90%);
}

a, .toclink, .toptoclink, .tocviewlink, .tocviewselflink, .tocviewtoggle, .plainlink,
.techinside, .techoutside:hover, .techinside:hover {
    color: hsl(296, 100%, 22%);
}

.boxed {
    background: linear-gradient(to bottom left, hsl(0, 0%, 99%) 0%, hsl(293, 33%, 90%) 100%);
}

.fancy-box {
  border: 1px solid #d0d0d0;
  border-left: 3px solid hsl(296, 100%, 22%);
  border-radius: 4px;
  padding: 0.8em 1em;
  background: #f8f8f8;
  overflow-x: auto;
}

/* Scribble built-in code blocks */
.SCodeFlow {
  border-left: 3px solid hsl(296, 100%, 22%);
  border-radius: 4px;
  padding: 0.6em 1em;
  background-color: #f8f8f8;
  overflow-x: auto;
  white-space: pre;
}

/* Pandoc-generated code blocks inside fancy-box */
.fancy-box pre {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.fancy-box div.sourceCode {
  margin: 0;
  background: transparent;
}

/* Quiz styling */
.quiz-container {
  margin: 0.5em 0;
}

.quiz-option {
  display: block;
  padding: 0.4em 0.8em;
  margin: 0.25em 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.quiz-option:hover {
  background-color: #f0e8f5;
  border-color: hsl(296, 100%, 22%);
}

.quiz-option input[type="radio"] {
  margin-right: 0.5em;
  accent-color: hsl(296, 100%, 22%);
}

.quiz-correct {
  background-color: #d4edda;
  border-color: #28a745;
  color: #155724;
}

.quiz-correct:hover {
  background-color: #d4edda;
}

.quiz-incorrect {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
}

.quiz-incorrect:hover {
  background-color: #f8d7da;
}

/* Accordion section numbering */
details.accordion-section {
  counter-reset: question;
}

details.accordion-section > details {
  counter-increment: question;
}

details.accordion-section > details > summary::before {
  content: counter(question) ". ";
  font-weight: bold;
}

.question-count {
  font-weight: normal;
  color: #666;
}
